@use "../../styles/util" as *;

.headerContainer{
    height: rem(105);
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContent{
    width: 700px;
    margin: 0 auto;
}